/* generici */

body {
	font-family: 'Lato', sans-serif;
}

p {
	font-size:18px;
	line-height:26px;
	text-align: justify;
}

p.lead {
	font-size:19px;
	margin-bottom: 7px;
	color: #4d8963;
}

p.small {
	font-size: 13px;
	line-height: 21px;
}

p.xsmall {
	font-size: 11px;
	line-height: 18px;
}

span.bold {
	color: #000;
}

.spacer-10 {
	margin: 5px 0;
}

.spacer-20 {
	margin: 10px 0;
}

.spacer-50 {
	margin: 25px 0;
}

@media screen and (max-width: 767px) {
	p.small {
		font-size:16px;
		line-height: 23px;
	}
}


/* menu */

header {
	border-top:4px solid #586f75;
	border-bottom:4px solid #586f75;
	min-height:50px;
	padding:10px 0px 20px;
}

.navbar-brand {
	padding-top: 0px;
}

a.navbar-brand {
	margin-top: -3px;
}
 
.navbar-default {
	border-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: #4d8963;
}

.navbar-right {
	margin-top:30px;
	margin-bottom:-30px;
}

.navbar-right a {
	font-family: 'Lato';
	font-size: 16px;
	color: #434343;
}

.navbar-right a.active {
	color: #4d8963 !important;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4d8963;
}

.navbar-right a.dropdown-toggle:hover {
	color: #4d8963 !important
}

.dropdown-menu {
	width:242px;
	top:10px;
	right:20px;
	padding-top:0px;
	padding-bottom: 20px;
	background-color: #fff;
	border: 1px solid #4d8963;
	border-radius: 0px;
	box-shadow: none;
}

.dropdown-menu>li>a {
	padding-left:16.3px;
}


@-moz-document url-prefix() {
    .dropdown-menu>li>a {
        padding-left:19px;
    }
}

.dropdown-menu>li.color>a {
	color: #4d8963;
}

.dropdown-menu>li>a:hover {
	background-color: transparent;
	color: #4d8963;
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
		height: 170px;
		padding-top: 20px;
	}
	.dropdown-menu {
		display:none;
		min-width:160px;
		top:100%;
		right:0%;
		border: none;
		box-shadow: none;
	}
}

@media screen and (min-width: 768px) {	
	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0; 
	}
}

/* banner */

#banner {
	background:#4d8963;
	border-bottom:4px solid #ccc;
	padding:35px 0px 32px;
}

#banner h1{
	color:#ffefa0;
	font-family: 'Lato', sans-serif;
	font-size:36px;
	font-weight:bold;
	line-height:48px;
	margin-top:0px;
	margin-bottom:10px;
}

#banner p {
	color:white;	
}

#banner_left {
	padding-right: 60px;
}

#banner_video {
	margin-top: 7px;
	border: 2px solid #fff;
}

#banner.categorie h1, #banner.news h1, #banner.aderisci h1, #banner.privacy h1, #banner.cookie h1, #banner.riferimenti h1 {
	font-size: 32px;
}

@media screen and (max-width: 767px) {
    #banner_left {
        padding-right: 10px;
    }
    
}

@media screen and (max-width: 1023px) {
	#banner_video {
		margin-top: 35px;
	}
}

/* main blocco 1 */

#main_left {
	padding-top: 20px;
	padding-right: 25px;
}

#main_left p.small {	
	color: #333;
}

#main_left.categorie, #main_left.news, #main_left.aderisci, #main_left.privacy, #main_left.cookie, #main_left.riferimenti {
	padding-top: 0px;
}

#main_left.categorie h3, #main_left.news h3, #main_left.aderisci h3, #main_left.privacy h3, #main_left.cookie h3,#main_left.riferimenti h3 {
	color: #e7503d;
	margin-top: 0px;
}

#main_left.categorie ul {
	margin-top: 40px;
}

@media screen and (max-width: 767px) {
	#main_left.categorie, #main_left.news, #main_left.aderisci, #main_left.privacy, #main_left.categorie, #main_left.riferimenti {
		padding-top: 20px;
	}
	
	#main_left.categorie ul {
		margin-top: 20px;
	}
	
	#main_left li {
		font-size: 16px;
	}
}


/* main blocco 2 */

#main_avvia h3 {
	color: #e7503d;
}

#main_avvia p.small {
	color: #4d8963;
	line-height: 19px;
}

/* pagina aderisci */
#form_aderisci {
	width:100%;
	height: 1650px;
	border: none;
}

@media screen and (max-width: 767px) {
	#form_aderisci {
		height: 3400px;
	}
}


/* template aderisci */

.alert-aderisci {
	background-color: #e6f4f6;
	border-color: transparent;
	border-radius: 6px;
	padding-bottom: 20px;
}

.alert-aderisci h2 {
	color: #4c78ee;
	font-weight: 700;
	margin-top: 0px;
}

.alert-aderisci p {
	text-align: center;
	line-height: 17px !important;
}

.alert-aderisci a {
	color: #4c78ee;
}

.alert-aderisci a.verifica {
	color: #333;
}

.alert-aderisci a.verifica:hover {
	color: #4d8963;
}

.alert-aderisci .btn-aderisci {
	margin: 16px auto;
}

@media screen and (max-width: 767px) {
	.alert-aderisci p {
		line-height: 20px !important;
	}
}

/* footer */

#scrolltop{	
	position:fixed;
	bottom:75px;
	right:40px;
	cursor:pointer;
	display:none;
	z-index: 1000;
}

footer {
	background:#e6f4f6;
	padding:25px 0px;
}

footer h4 {
	font-size: 18px;
	margin-top: 0px;
}

footer a.link {
	color: #174f7a;
	display: block;
	margin-bottom: 7px;
	font-size: 15px;
}

footer .social {
	padding: 0 4px;
}

footer .social:first-child {
	padding-left: 0;
}

footer .xsmall {
	color: #7e979a;
}

.phone {
	color: #124f7a;
	font-size:24px;
	font-weight: 700;
}

@media screen and (max-width: 767px) {
	footer .footer_col {
		margin-bottom: 25px;
	}
}

/* bottoni custom */

.btn-aderisci {
  display: block;
  border-radius: 0;
  color: #fff;
  background-color: #e7503d;
  border-color: #e7503d;
  padding: 8px 18px;
  font-size: 22px;
}
.btn-aderisci:focus,
.btn-aderisci.focus {
  color: #333;
  background-color: #e7503d;
  border-color: #e7503d;
}
.btn-aderisci:hover {
  color: #fff;
  background-color: #ed1c24;
  border-color: #ed1c24;
}
.btn-aderisci:active,
.btn-aderisci.active,
.open > .dropdown-toggle.btn-aderisci {
  color: #fff;
  background-color: #ed1c24;
  border-color: #ed1c24;
}
.btn-aderisci:active:hover,
.btn-aderisci.active:hover,
.open > .dropdown-toggle.btn-aderisci:hover,
.btn-aderisci:active:focus,
.btn-aderisci.active:focus,
.open > .dropdown-toggle.btn-aderisci:focus,
.btn-aderisci:active.focus,
.btn-aderisci.active.focus,
.open > .dropdown-toggle.btn-aderisci.focus {
  color: #fff;
  background-color: #ed1c24;
  border-color: #ed1c24;
}
.btn-aderisci:active,
.btn-aderisci.active,
.open > .dropdown-toggle.btn-aderisci {
  background-image: none;
}
.btn-aderisci.disabled:hover,
.btn-aderisci[disabled]:hover,
fieldset[disabled] .btn-aderisci:hover,
.btn-aderisci.disabled:focus,
.btn-aderisci[disabled]:focus,
fieldset[disabled] .btn-aderisci:focus,
.btn-aderisci.disabled.focus,
.btn-aderisci[disabled].focus,
fieldset[disabled] .btn-aderisci.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-aderisci .badge {
  color: #fff;
  background-color: #333;
}

.btn-aderisci a, .btn-aderisci a:hover, .btn-aderisci a:focus, .btn-aderisci a:link {
	color: #fff;
}

.btn-aderisci a:hover {
	text-decoration: none;
}
