ErrorDocument 404 http://bloccostipendi.codacons.it/404/

RewriteEngine On

# RewriteRule ^presupposti/sentenza-corte-costituzionale-178_2015$ index.php?p=rif1
# RewriteRule ^presupposti/legge-adeguamenti-stipendi-pubblica-amministrazione$ index.php?p=rif2
# RewriteRule ^presupposti/risarcimento-danni$ index.php?p=rif3
# RewriteRule ^categorie-interessate$ index.php?p=categorie
# RewriteRule ^rassegna-stampa$ index.php?p=rassegna
# RewriteRule ^aderisci$ index.php?p=aderisci
# RewriteRule ^segui$ index.php?p=segui
# RewriteRule ^scarica$ index.php?p=scarica
RewriteRule ^privacy$ index.php?p=privacy
RewriteRule ^cookie$ index.php?p=cookie [L]
